<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <include file="Common:common" />
    <load href="__PUBLIC__/css/common/rightCommon.css" />
    <style>
        label{ padding:0 10px; margin:0; height:50px; line-height:50px; cursor:pointer;}
    </style>
    <script>
        $(document).ready(function(e) {


        });
    </script>
</head>

<body>
<!--alert弹窗Start  -->
<div id="top-alert" class="fixed alert alert-error" style="display:none;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>
<!--alert弹窗end  -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-plus" aria-hidden="true"></i> <span id="changeTitle">修改</span>密码</a>
    </div>
</nav>
<div class="add-box">
    <form class="addForm ajax-fadein" id="form1" name="form1" method="post" >
        <input name="id" type="hidden" id="id" value="<?php echo session('crm_uid')?>" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td align="center">旧密码</td>
                <td><input type="old_password" id="old_password" name="old_password"  class="form-control"  datatype="*" nullmsg="请输入旧密码" placeholder="请输入旧密码" /></td>
            </tr>

            <tr>
                <td align="center">新密码</td>
                <td><input type="new_password" id="new_password" name="new_password"  class="form-control"  datatype="*" nullmsg="请输入新密码" placeholder="请输入新密码" /></td>
            </tr>

            <tr>
                <td align="center">确认密码</td>
                <td><input type="confirm_password" id="confirm_password" name="confirm_password"  class="form-control"  datatype="*" nullmsg="请输入确认密码" placeholder="请输入确认密码" /></td>
            </tr>

            <tr>
                <td>&nbsp;
                </td>
                <td>
                    <div class="warning" style="color: red; margin-left: 50px"></div>
                    <button type="submit" href="javascript:void(0)" class="btn btn-success" id="saveButton"><i class="fa fa-check" aria-hidden="true"></i> 修改</button>
                    <button type="button" class="btn btn-default" id="cancelButton"><i class="fa fa-times" aria-hidden="true"></i> 取消</button>
                    <!--<span style="color: red; margin-left: 50px">1111111</span>-->
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>
<script>
    $('#saveButton').click(function () {
        var old_password = $('#old_password').val();
        var new_password = $('#new_password').val();
        var confirm_password = $('#confirm_password').val();
        if(new_password != confirm_password){
            $('.warning').html('两次输入的密码不一致请重新输入');
            return false;
            // $.show({
            //     title: '提示',
            //     isConfirm: false,
            //     content: '两次输入的密码不一致请重新输入'
            // });
            // return false;
        }


        var reg = /^[0-9a-zA-Z]+$/;
        if(!reg.test(new_password) || !reg.test(confirm_password) || !reg.test(old_password)){
            $('.warning').html('请输入6~20位数字加字母的密码');
            return false;
        }


        if((new_password.length>20 || new_password.length<6) || (confirm_password.length>20 || confirm_password.length<6) || (old_password.length>20 || old_password.length<6)){
            $('.warning').html('请输入6~20位的密码');
            return  false;
        }

        //验证是否正确
        var uid = $('#id').val();
        $.post(APP+'/User/validatePassword',{uid:uid,new_password:new_password,old_password:old_password},function(res){
            if(res.code == 202){
                $('.warning').html(res.msg);
            }
            if(res.code == 203){
                $('.warning').html(res.msg);
            }
            if(res.code == 200){
                $.post(APP+'/User/updatePasswordData',{uid:uid,new_password:new_password},function(res){
                    if(res.code == 200){
                        window.location.href = APP+'/Login/index.html';
                        window.close();
                    }
                });
            }
        });




    });
</script>